<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>List product</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/listeo/css/style.css">
    <link rel="stylesheet" href="/listeo/css/main-color.css" id="colors">
</head>

<body>

<br>
<br>

<a th:href="@{/product/add}" style="margin-bottom: 30px; background: #1da1f2; color: white;
 padding: 10px 20px; border-radius: 5px; font-size: 20px; font-weight: bold; text-decoration: none;
 display: inline-block;">Thêm sản phẩm mới</a>



<form action="/product/search" method="Post">
    <div class="main-search-input"
         style="margin-bottom: 30px; justify-content: space-between;">

        <div class="main-search-input-item" style="flex: 1">
            <input name="search-input" type="text"
                   placeholder="Tìm kiếm sản phẩm" th:value="${search_input}">
        </div>
        <div style="display: flex;">
            <div class="main-search-input-item">

                <select
                        name="category-selected" data-placeholder="All Categories"
                        class="chosen-select">
                    <option th:value="0">Tất cả sản phẩm</option>
                    <th:block th:each="y : ${listCategories}">
                        <option th:value="${y.CategoryId}" th:text="${y.name}"></option>
                    </th:block>
                </select>
            </div>

            <button class="button" style="background: aquamarine" type="submit">Search</button>
        </div>


    </div>
</form>
<div class="row">

    <!-- Listings -->
    <div class="col-lg-12 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <h4>Sản Phẩm</h4>
            <ul>
                <th:block th:each="y : ${pageProduct.content}">
                    <li>
                        <div class="list-box-listing">
                            <div class="list-box-listing-img">
                                <a href="#"><img th:src="${y.images[0].image}"
                                                 alt=""></a>
                            </div>
                            <div class="list-box-listing-content">
                                <div class="inner">
                                    <h3>
                                        <a href="#" th:text="${y.name}"></a>
                                    </h3>
                                    <h3
                                            th:text="${#numbers.formatDecimal(y.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h3>
                                    <span th:text="'Loại: ' + ${y.category.name}"></span><br>
                                    <span th:text="'Số lượng: ' + ${y.quantity}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-to-right">
                            <a th:href="@{/product/edit/{id}(id=${y.category.categoryId})}"
                               style="background: #1da1f2"
                               class="button gray"><i class="sl sl-icon-note"></i> Edit</a>
                            <a href="#" class="button gray"
                               style="background: red"><i
                                    class="sl sl-icon-close"></i>
                                Delete</a>
                        </div>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>


    <!-- Pagination -->
    <div class="clearfix"></div>
    <div th:if="${search==null}" class="row">
        <div class="col-md-12">
            <div class="pagination-container margin-top-20 margin-bottom-40">
                <nav class="pagination">
                    <ul>
                        <li><a class="paging-item" th:if="${pageProduct.number} > 0"
                               th:href="@{/product/{page}(page=${pageProduct.number - 1})}"><i
                                class="sl sl-icon-arrow-left"></i></a></li>
                        <li><a class="paging-item"
                               th:href="@{/product/{page}(page=${pageProduct.number})}"
                               th:text="${pageProduct.number+1}"></a></li>
                        <li><a class="paging-item"
                               th:if="${pageProduct.number} < ${pageProduct.totalPages - 1}"
                               th:href="@{/product/{page}(page=${pageProduct.number + 1})}"><i
                                class="sl sl-icon-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div th:if="${search !=null}" class="row">
        <div class="col-md-12">
            <div class="pagination-container margin-top-20 margin-bottom-40">
                <nav class="pagination">
                    <ul>
                        <li><a th:if="${pageProduct.number} > 0"
                               th:href="@{/product/search/{page}(page=${pageProduct.number - 1})}"><i
                                class="sl sl-icon-arrow-left"></i></a></li>
                        <li><a
                                th:href="@{/product/search/{page}(page=${pageProduct.number})}"
                                class="current-page" th:text="${pageProduct.number+1}"></a></li>
                        <li><a
                                th:if="${pageProduct.number} < ${pageProduct.totalPages - 1}"
                                th:href="@{/product/search/{page}(page=${pageProduct.number + 1})}"><i
                                class="sl sl-icon-arrow-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Pagination / End -->
</div>

<!-- Content / End -->


<!-- Dashboard / End -->


<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script type="text/javascript" src="/scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
        src="/scripts/jquery-migrate-3.3.2.min.js"></script>
<script type="text/javascript" src="/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/scripts/slick.min.js"></script>
<script type="text/javascript" src="/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>
<script type="text/javascript" src="/scripts/myjs.js"></script>

</body>
</html>